@import "./static/font/fonts.css";

* {
  margin: 0;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  flex-flow: column;
  position: relative;
}

/*basic*/
.section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  width: 1180px;
  display: flex;
  padding: 50px 0 50px 0;
}

.container--content {
  flex-flow: column;
  padding: 50px 0 50px 0;
  box-sizing: border-box;
}

.container--header {
  /*display: block;*/
  padding: 27px 0 27px 0;
  box-sizing: border-box;
  height: 100px;
  }

.container--footer {
  padding: 34px 0 34px 0;
}

.link {
  text-decoration: none;
  color: black;
}

.H1 {
  margin: 0 0 40px 0;
  font-size: 55px;
  line-height: 75px;
  text-transform: uppercase;
}

.H1--white {
  color: white;
}

.H1--black {
  color: black;
}

.about-me {
  display: flex;
}

.text-block {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.text-block__text {
  font-size: 20px;
  line-height: 27px;
  color: white;
  margin: 0 0 30px 0;
}

/*header*/
.header {
  display: flex;
  justify-content: center;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.contacts__content {
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 100%;
}

.blog__content {
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 100%;
}

.footer__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  width: 115px;
  height: 48px;
  background: url("./static/images/logo-min.png") no-repeat top / cover;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.nav {
  display: flex;
}

.nav__link {
  color: black;
  text-decoration: none;
  margin-left: 12px;
  /*padding-left: 30px;*/
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link--italic {
  font-style: italic;
}

.nav__link--bold {
  font-weight: bold;
}

.nav__link:hover {
  color: #888888;
}

.nav__link--active {
  color: orange;
}

/*content*/
.content {
  background: url("./static/images/background-min.jpg") no-repeat center / cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .7);
  z-index: 1;
}

.content > * {
  z-index: 10;
}

.picture {
  background: url("./static/images/photo-min.jpg") no-repeat top / cover;
  min-width: 280px;
  min-height: 265px;
  margin-right: 20px;
}

.button {
  height: 44px;
  width: fit-content;
  background-color: #FFE01B;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.1);
  transition: 300ms;
  background-color: #ECCC00;
  }

  .button:active {
    background-color: #FFEB6C;
  }

.button__text {
  margin: 20px;
  text-transform: uppercase;
  font-family: "Bebas Neue";
  font-weight: bold;
  font-size: 24px;
  line-height: 24px;
}

/*contacts*/
.contacts {
  background-color: #FFE01B;
  }

.contacts-block {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contacts-block__item {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 171px;
  background-color: #343434;
  position: relative;
}

.social {
  width: 110px;
  height: 110px;
}

.social--vk {
  background: url("./static/svg/sprite.svg") 0 -71px;
}

.social--insta {
  background: url("./static/svg/sprite.svg") -110px -71px;
}

.social--tel {
  background: url("./static/svg/sprite.svg") -220px -71px;
}

.social--mail {
  background: url("./static/svg/sprite.svg") -330px -71px;
}

.social-name {
  color: white;
  font-family: "Bebas Neue";
  font-size: 22px;
  line-height: 22px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 500ms;
  position: absolute;
  bottom: 35px;
  }

.contacts-block__item:hover .social-name {
  visibility: visible;
  opacity: 1;
}

.contacts-block__item:hover .social {
  transform: translateY(-15px);
  transition: transform .3s;
}

@keyframes phone-animation {
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.call-button {
  position: absolute;
  bottom: 50px;
  right: 50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #FF6969;
  display:flex;
  align-items: center;
  justify-content: center;
  animation: phone-animation 2s infinite;
  box-shadow: 0 0 20px rgba(0, 0, 0, .3);
  transition: .5s ease-out;
}

.call-button:hover {
  background: #333;
  transition: .5s;
}

.call-button__phone {
  width: 50px;
  height: 50px;
  border-radius: 10%;
  background: white;
  /*background: url("./static/svg/sprite.svg") -220px -71px;*/
  }

  .call-button:hover .call-button__phone {
    transform: rotate(10deg);
    transition: .5s;
  }  

/* blog */
.blog {
  background: #F2F2F2;
}

.content__block {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;
}

.block__item {
  background: white;
  width: 380px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.07);
  }

  .item__content {
    padding: 15px 20px 20px;
    box-sizing: border-box;
  }

  .item__picture {
    height: 185px;
    background: url("./static/images/blog-pic-min.png") no-repeat center / cover;
  }

  .item__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 10px;
  }

  .item__text {
    margin-bottom: 47px;
    font-size: 20px;
    line-height: 27px;
  }

  .item__bottom {
    display: flex;
    align-items: center;
    }

  .item__button, .content__button {
    font-family: "Bebas Neue";
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    padding: 13px 21px 17px 21px;
    box-sizing: border-box;
    background: #FFE01B;
    margin-right: 30px;
    cursor: pointer;
  }

  .item__button:hover, .content__button:hover {
    transform: scale(1.1);
    transition: 300ms;
    background-color: #ECCC00;
    }
  
    .item__button:active, .content__button:active {
      background-color: #FFEB6C;
    }
  

  .item__date {
    font-size: 20px;
    line-height: 27px;
  }

/*footer*/
.contacts-block {
  display: flex;
}

::selection {
  background: #FF6969;
}

/*.contacts-block__item {
  background-color: #343434;
  width: 280px;
  height: 100px;
  }*/
