#body{
    background:black;
    font-family: arial;
    margin: 0;
    display: flex;
    align-items: center;
    flex-flow: column;
}

.section {
  @include section();
}

.container {
  @include container();

  &--header {
    align-items: center;
    height: 100px;
    justify-content: space-between;
    position: absolute;
  }

  &--header-landing {
    @include header-landing();
  }

  &--advantages-landing {
    justify-content: flex-start;
    flex-flow: column;
  }

  &--content-landing {
    flex-flow: column;
    align-items: center;
    width: 780px;
  }

  &--first-screen-landing {
    justify-content: space-between;
    }

    &--footer-landing {
      justify-content: space-between;
    }

  &--footer {
    align-items: center;
    height: 100px;
    justify-content: space-between;
  }
}

.header {
  background: black;
}

.link {
  text-decoration: none;
  color: white;
}

.H1 {
    font-size: 60px;
    color: white;
    margin-top: 0;
}

.text {
  font-size: 16px;
  color: white;
  margin: 0;
}

/*==========*/

/*landing part*/
#body-landing {
  font-family: 'Lato', sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  flex-flow: column;
  font-size: $basic-font-size;
  line-height: 24px;
  color: $black-text;
}

.section-landing {
  @include section();
  padding: 80px 0;
}

.link-landing {
  text-decoration: none;
}

.h2 {
  @include h2();
  font-size: $h2;
  line-height: 52px;
  color: $blue;
  font-weight: 500;

  &--white {
    color: $white;
  }
}

.h3 {
  @include h3();
  font-size: $h3;
  line-height: 39px;
  color: $blue;
  font-weight: 500;

  &--white {
    color: $white;
  }
}

html {
  scroll-behavior: smooth;
}

/*end landing part*/
